<header>
    <nav class="navbar navbar-expand-md bg-body-secondary py-3" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <span>gonrod</span>
            </a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navcol-2" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    {% for page in site.pages %}
                        {% assign path_parts = page.path | split: '/' %}
                        {% if path_parts[0] == 'pages' and path_parts.size == 2 %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% for dropdown in site.navigation.dropdowns %}
                        {% assign dropdown_pages = site.pages | where_exp: "page", "page.path contains dropdown.path" %}
                        {% if dropdown_pages.size > 0 %}
                            <li class="nav-item">
                                <div class="nav-item dropdown">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">{{ dropdown.name }}</a>
                                    <div class="dropdown-menu">
                                        {% for page in dropdown_pages %}
                                            <a class="dropdown-item" href="{{ page.url | relative_url }}">{{ page.title }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>